nextflow.enable.dsl = 2

profiles {
    standard {
        process.executor = 'local'
    }
    conda {
        process.executor = 'local'
        process.conda = "${projectDir}/environment.yaml"
    }
    docker {
        docker.enabled = true
        process.executor = 'local'
    }
}

manifest {
    name = 'vibrio-cholerae-pipeline'
    description = "A Nextflow pipeline for genomic surveillance of Vibrio cholerae from Illumina whole-genome sequencing reads"
    version = '1.0.0'
}
